html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
table {
  width: 800px;
  height: auto;
  border-collapse: separate;
  border-spacing: 6px;
  overflow: hidden;
}
th,
td {
  padding: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.527);
}
th {
  text-align: left;
}

tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  z-index: -1;
}

.header {
  background-color: rgba(87, 86, 85, 0.075);
}

.header th:nth-child(2) {
  background-color: rgba(192, 231, 236, 0.466);
}

.index-cell {
  background-color: rgba(87, 86, 85, 0.075);
}

.this-day-cell {
  background-color: rgba(192, 231, 236, 0.466);
}

.green-cell {
  background-color: rgba(137, 202, 154, 0.466);
}

.red-cell {
  background-color: rgba(202, 137, 137, 0.466);
}

.gray-cell {
  background-color: rgba(87, 86, 85, 0.075);
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.gray-text {
  color: gray;
}